<%= form_with(model: [ @code, @code.student_answers.build ], local: true) do |form| %>
	<p>
		<%= form.label :uni_ID, 'Uni ID' %>
		<%= form.text_field :uni_ID %>
		<%= form.label :variable %>
		<%= form.text_field :variable %>
		<%= form.label :role %>
		<%= form.text_field :role %>
		<%= form.submit "Submit answer"%>
	</p>
<% end %>