<td><%= correct_answer.variable %></td>
<td><%= correct_answer.role %></td>
<td><%= correct_answer.isCorrect %></td>
<td><%= correct_answer.notes %></td>
<td><%= button_tag link_to 'Edit', [correct_answer.code, correct_answer] %>
	<%= button_tag link_to 'Delete', [correct_answer.code, correct_answer], method: :delete, data: {confirm: 'Are you sure?'} %></td>
<tr></tr>