<%= form_with(model: [ @course, @course_user ], local: true) do |form| %>
	<p>
		<%= form.label :uni_ID %>
		<%= form.text_field :uni_ID %>
		<%= form.label :first_name %>
		<%= form.text_field :first_name %>
		<%= form.label :last_name %>
		<%= form.text_field :last_name %>
		<%= form.label :team_id %>
		<%= form.text_field :team_id %>
		<%= form.submit "Update"%>
	</p>
<% end %>