<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Collaborative Code Analysis Tool v0.1</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/welcome/0?student=true">Home</a></li>
        <li><a href="/courses?take_quiz=true">Quiz</a></li>
        <li><a href="/var_roles?student=true">Variable Roles</a></li>
        <li class="active"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	    <h1><strong>Question:</strong></h1>
      <fieldset><%= @discussion.notes %></fieldset>

      <h1><strong>Code:</strong></h1>
			<fieldset>
				<%= @discussion.code %>
			</fieldset>

      <%= render 'team_answers/submit_team_answer' %>
      
      <p>      
      <% code = Code.find(@discussion.code_id) %>
      <% quiz = Quiz.find(code.quiz_id) %>
      <% course = Course.find(quiz.course_id) %>
      <% course_user = CourseUser.find_by(uni_ID: current_user.username, course_id: quiz.course_id) %> 
      <% team_id = course_user.team_id %>

      <% @teammate = CourseUser.where(team_id: team_id, course_id: course.id) %>
      <% @teammate.each do |e| %>
          <br><strong><%= e.first_name %></strong> reckons:<br>
          <% @student_answer = StudentAnswer.where(code_id: @discussion.code_id) %>
          <% @student_answer.each do |a| %>
            <% if a.uni_id == e.uni_ID %>
              <strong><%= a.variable %></strong> is a
              <strong><%= a.role %></strong><br>
            <% end %>
          <% end %>
      <% end %>

      
      

      <%= render 'list_comments' %>
      <p><%= button_tag link_to 'Refresh', discussion_path(:take_quiz => true, :code_id => @discussion.code_id) %></p>

      <%= render 'comments/form' %>
      
			<%= button_tag link_to 'Back', quiz_path(:take_quiz => true) %>
        </div>
    </div>
</div>



