<nav class="navbar navbar-inverse navbar-fixed-top">
    <!-- <div class="container-fluid">
        <div class="navbar-header">
          
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/welcome">Collaborative Code Analysis Tool v0.1</a>
        </div>
    </div> -->
</nav>

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <!-- <li class="active"><a href="/welcome/index">Home</a></li> -->
            <li><a href="/courses">Course</a></li>
            <li><a href="/var_roles?teacher=true">Variable Role</a></li>
            <li><% if current_user %>
              <% if current_user.username == '1000000' %>
                <li class="active"> <%= link_to 'Student View', welcome_path(student: true, :id => '0') %></li>
              <% end %></li>
            <li class="active"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="whole"><center>
				<%= image_tag("hello_world.png", :width => "60%", :align=> "middle")%>
				<h1><strong><p style="font-family:verdana">Teacher's View</p></strong></h1>
				<div id='menu' style="display: none;">
					<p>
					<td><%= button_tag link_to 'Manage Courses', controller: 'courses' %></td>
					<td><%= button_tag link_to 'Manage Variable Role Records', controller: 'var_roles', :teacher => true %></td>
					<td><%= button_tag link_to 'Home', controller: 'welcome'%></td></p>
				</div>
				<p style="font-family:verdana">Team 37</p>
			</center></div>
        </div>
    </div>
</div>

			