<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        	
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          	</button>
          	<a class="navbar-brand" href="#">Collaborative Code Analysis Tool v0.1</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/welcome/0?student=true">Home</a></li>
            <li><a href="/courses?take_quiz=true">Quiz</a></li>
            <li><a href="/var_roles?student=true">Variable Roles</a></li>
            <li class="active"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	        <h1><strong>Course Details:</strong></h1>
			<p>
				<strong>Course Code:</strong>
				<%= @course.course_code %>
			</p>

			<p>
				<strong>Course Name:</strong>
				<%= @course.course_name %>
			</p><br>

			<h2>Quizzes:</h2>
			<table>
				<table border ="1">
				<tr>
					<th>Quiz Name</th>
					<th>Deadline</th>
					<th>Action</th>
				</tr>
				<tr><% @course.quizzes.each do |quiz| %>
				<td><%= quiz.quiz_name %>
				<td><% if quiz.deadline.nil? %>
				<%= 'No deadline' %>
				<% else %>
				<%= l quiz.deadline %>
				<% end %></td>
				<td>
				<% if (quiz.deadline != nil && DateTime.current < quiz.deadline) || quiz.deadline == nil%>
					<%= button_tag link_to 'Take Quiz', quiz_path(:take_quiz => true, :id => quiz) %>
				<% else %>
					<strong><%= 'Closed'%></strong>
				<% end %>
				</td></tr>	
			<% end %>
			</table><br>

			<%= button_tag link_to 'Back', courses_path(:take_quiz => true) %>
        </div>
    </div>
</div>