<% code = Code.find(@discussion.code_id) %>
<% quiz = Quiz.find(code.quiz_id) %>
<% course_user = CourseUser.find_by(uni_ID: current_user.username, course_id: quiz.course_id) %>
<%= form_with(model: [ @discussion, @discussion.comments.build ], local: true) do |form| %>

  <%= 'Team ID: '%>
  <%= course_user.team_id %><br>
  <%= 'Commenting as: '%>
  <%= course_user.first_name%>&nbsp<%= course_user.last_name%><br>

  <div class="field">
    <%#= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <%= form.hidden_field :team_id, :value => course_user.team_id%>
  <%= form.hidden_field :discussion_id, :value => @discussion.id%>
  <%= form.hidden_field :uni_id, :value => current_user.username%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
