<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        	
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          	</button>
          	<a class="navbar-brand" href="#">Collaborative Code Analysis Tool v0.1</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/welcome/0?student=true">Home</a></li>
            <li><a href="/courses?take_quiz=true">Quiz</a></li>
            <li><a href="/var_roles?student=true">Variable Roles</a></li>
            <li class="active"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	        <h1><strong><%= @var_role.VarRole %></strong></h1>
			
			<p>
				<strong>Description:</strong>
				<%= @var_role.VarRoleDescription %>
			</p>

			<p>
				<strong>Example:</strong>
				<%= @var_role.example %>
			</p>

			<%= button_tag link_to 'Back', var_roles_path(:student => true) %>
      <% if @var_role.VarRole == "Fixed-value"%>
      <%= button_tag link_to 'Review Quiz', "/quizzes/26?take_quiz=true" %>
      <%= button_tag link_to 'Next', "/var_roles/13?student=true" %>
      <% end %>
      <% if @var_role.VarRole == "Stepper"%>
      <%= button_tag link_to 'Review Quiz', "/quizzes/27?take_quiz=true" %>
      <%= button_tag link_to 'Previous', "/var_roles/12?student=true" %>
      <%= button_tag link_to 'Next', "/var_roles/14?student=true" %>
      <% end %>
      <% if @var_role.VarRole == "Most-recent-holder"%>
      <%= button_tag link_to 'Review Quiz', "/quizzes/28?take_quiz=true" %>
      <%= button_tag link_to 'Previous', "/var_roles/13?student=true" %>
      <%= button_tag link_to 'Next', "/var_roles/15?student=true" %>
      <% end %>
      <% if @var_role.VarRole == "Most-wanted-holder"%>
      <%= button_tag link_to 'Review Quiz', "/quizzes/29?take_quiz=true" %>
      <%= button_tag link_to 'Previous', "/var_roles/14?student=true" %>
      <%= button_tag link_to 'Next', "/var_roles/16?student=true" %>
      <% end %>
      <% if @var_role.VarRole == "Gatherer"%>
      <%= button_tag link_to 'Review Quiz', "/quizzes/30?take_quiz=true" %>
      <%= button_tag link_to 'Previous', "/var_roles/15?student=true" %>
      <%= button_tag link_to 'Next', "/var_roles/17?student=true" %>
      <% end %>
      <% if @var_role.VarRole == "Follower"%>
      <%= button_tag link_to 'Review Quiz', "/quizzes/31?take_quiz=true" %>
      <%= button_tag link_to 'Previous', "/var_roles/16?student=true" %>
      <%= button_tag link_to 'Next', "/var_roles/18?student=true" %>
      <% end %>
      <% if @var_role.VarRole == "One-way-flag"%>
      <%= button_tag link_to 'Review Quiz', "/quizzes/32?take_quiz=true" %>
      <%= button_tag link_to 'Previous', "/var_roles/17?student=true" %>
      <%= button_tag link_to 'Next', "/var_roles/19?student=true" %>
      <% end %>
      <% if @var_role.VarRole == "Temporary"%>
      <%= button_tag link_to 'Review Quiz', "/quizzes/33?take_quiz=true" %>
      <%= button_tag link_to 'Previous', "/var_roles/18?student=true" %>
      <%= button_tag link_to 'Next', "/var_roles/20?student=true" %>
      <% end %>
      <% if @var_role.VarRole == "Others"%>
      <%= button_tag link_to 'Review Quiz', "/quizzes/34?take_quiz=true" %>
      <% end %>
        </div>
    </div>
</div>

			
